<div class="container">
    <h2>Formulaire 1:</h2>
    <form (submit)="addProduct()">
      <label>
        Nom :
        <input type="text" [(ngModel)]="newProduct.name" name="name" />
      </label>
      <br />
      <label>
        Description :
        <input
          type="text"
          [(ngModel)]="newProduct.description"
          name="description"
        />
      </label>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" class="form-control" id="price" required [(ngModel)]="newProduct.price" name="price">
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" (change)="onFileSelected($event)" name="image">
      </div>
      <button type="submit">Ajouter</button>
    </form>
</div>
