/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: var(--color-favoritearno);

  --color-primary: #31d3af;
  --color-secondary: #2b214f;
  --color-background: #f6f6f6;
  --color-favoritearno: cornflowerblue;
}