<nav>
    <ul>
      <li>
        <a 
        routerLink="/products-component"
        routerLinkActive="active"
        >
          Vers mes Produits
        </a>
      </li>

      <li>
        <a 
        routerLink="/product-form-component"
        routerLinkActive="active"
        >
          Vers mon formulaire de produit
        </a>
      </li>

      <li>
        <a 
        routerLink="**"
        routerLinkActive="active"
        >
          Vers la 404 Not Found
        </a>
      </li>
    </ul>
  </nav>