<!-- Footer css work with BootStrap !  -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Liens utiles</h3>
          <ul class="list-unstyled">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Produits</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Derniers articles de blog</h3>
          <ul class="list-unstyled">
            <li><a href="#">Comment utiliser notre produit</a></li>
            <li><a href="#">Nouveautés pour l'été 2023</a></li>
            <li><a href="#">10 astuces pour améliorer votre site web</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Contactez-nous</h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker"></i> 123 Rue Principale, Montréal, QC H1A 1A1</li>
            <li><i class="fa fa-phone"></i> (514) 555-1234</li>
            <li><i class="fa fa-envelope"></i> info@monsite.com</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <p class="text-center">Copyright © 2023
            <a href="#">Mon site web</a>. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </footer>
  